

.home_mainDiv{
    width: 80%;
    border: 1px solid silver;
    margin: 10px auto;
    padding: 30px;
    text-align: center;

}

.refresh_btn{
    color: grey;
    font-size: 15px;
    cursor: pointer;
}

.post_img_show{
    height: 200px;
}

.single_post{
    border: 1px solid black;
    padding: 30px;
    margin: 10px auto;
}


.post_upperDiv{
    display: flex;
    height: 80px;
    border-bottom: 1px solid rgb(217, 217, 217);
}

.post_upper_left{
    display: flex;
    width: 85%;
    gap: 20px;
    
}

.post_userImg{
    height: 70px;
    max-width: 70px;
    min-width: 65px;
    border: 1px solid deeppink;
    border-radius: 50%;
    margin-left: 20px;
    font-size: 12px;
}

.post_username{
    font-size: 20px;
}

.post_usercity{
    font-size: 14px;
}

.post_upper_right p{
    margin-top: 20px;
    cursor: pointer;
}

.post_middleDiv{
    padding: 5px;
    text-align: center;
}

.post_title{
    font-size: 25px;
    margin: 0px auto;
}

.post_desc{
    font-size: 18px;
    margin: 10px auto;
}

.post_main_imgDiv{
    height: 450px;
    max-width: 850px;
    min-width: 550px;
    gap: 20px;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: auto;
    display: flex;

}
.post_main_img{
    margin: 20px auto;
    height: 450px;
    max-width: 850px;
    min-width: 550px;
}

.post_lowerDiv1{
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
    height: 50px;
    display: flex;
}

.post_lowerDiv1 div{
    width: 50%;
    padding: 5px;
    cursor:pointer;
    /* border:1px solid rgb(217, 217, 217); */
    text-align: center;
}

.post_lowerDiv1 div:nth-child(1){
    border-right:1px solid rgb(217, 217, 217);
    
}

.post_lowerDiv1 div:hover{
    color: red;
    font-weight: 700;
}



.post_lowerDiv2{
    padding: 30px 0;

}

.post_comment1{
    padding: 10px;
    /* border: 1px solid red; */
    display: flex;
}

.post_userImg_comment{
    height: 50px;
    max-width: 50px;
    min-width: 45px;
    border: 1px solid deeppink;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 0px;
}

.post_comment_inp{
  margin-top: 5px;
  border: 1px solid rgb(217, 217, 217);
  outline: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 50px;
  border-radius: 10px;
  width: 630px;
}

.comment_inp_send_icon{
    font-size: 30px;
    margin-top: 15px;
    margin-left: -40px;
    cursor: pointer;
}


.likeCount_div{
    border-top: 1px solid rgb(217, 217, 217);
    display: flex;
    gap: 20px;
}


.like_show_div{
    position: absolute;
    height: 200px;
    width: 200px;
    padding: 20px;
    background-color: white;
    overflow-y: scroll;
    border: 1px solid gold;
}

.likeshow_p{
    font-size: 30px;
}

.likeCount_div p{
    font-size: 10px;
    color: grey;
}

.reaction_icons_div{
    display: flex;
    gap: 15px;
    margin-top: 0px;
    margin-left: 60px;
    width: 400px;


}

.reaction_icons{
    font-size: 35px;
    cursor: pointer;
    background: transparent;
    /* margin-left: 5px; */
}

.reaction_icons:hover{
    /* box-shadow: rgba(1, 37, 121, 0.56) 0px 22px 70px 4px;  */
    box-shadow: 0 0 20px seagreen,
    0 0 20px seagreen,
    0 0 20px seagreen,
    0 0 20px seagreen;

} 

.commentMaindiv{
    text-align: left;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    gap: 20px;
}

/* .comment_comment{
    margin: 10px 120px;
} */

.comment_user_div{
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    gap: 20px;
    border-bottom: 1px solid grey;
}


.comment_userImg{
    height: 50px;
    width: 50px;
    font-size: 12px;
    margin: 0;
    border-radius: 50%;
}

.comment_username{
    margin-top: 0px;
    font-size: 18px;
}

.comment_author{
    font-size: 14px;
    padding: 5px;
    margin: 0 5px;
    background-color: rgb(202, 215, 243);
}

.comment_text{
    background-color: rgb(233, 233, 233);
    padding: 10px 20px;
}

.pageDiv{
    width: 13%;
    justify-content: space-around;
   
    margin: 20px auto;
}

.pageDiv button{
    padding: 2px 8px;
    margin: 0 5px;
    background: transparent;
    border: 1px solid deeppink;
    cursor: pointer;
}


.post_user{
    /* text-align: left; */
}

@media only screen and (min-width: 275px) and (max-width: 475px) {

.home_mainDiv{
    width: 97%;
    padding: 5px;
    margin: 0;
}

.post_title{
    font-size: 18px;
}

.post_desc{
    font-size: 14px;
}

.single_post{
    padding: 2px;
}
.post_upperDiv{
    height: 80px;
}
.post_upper_left{
    width: 70%;
}
.post_main_imgDiv{
    padding: 0;
    margin: 10px auto;
    height: 250px;
    max-width: 350px;
    min-width: 250px;
    font-size: 12px;
}
.post_main_img{
    margin: 0px auto;
    height: 250px;
    max-width: 350px;
    font-size: 12px;
    min-width: 250px;

}


.reaction_icons_div{
    margin-left: 10px;
}
.post_lowerDiv2{
    padding: 2px;
}

.post_comment1{
    padding: 2px;
}

.post_comment_inp{
    padding: 5px;
    width: 80%;
    font-size: 15px;
    height: 30px;
}
.post_userImg_comment{
    font-size: 12px;
    margin: 4px;
}

.commentMaindiv{
    margin-left: 50px;
    margin-top: 10px;
}

.comment_text{
    font-size: 12px;
    
}

.comment_username{
    font-size: 14px;
}
.comment_author{
    font-size: 13px;
}
.comment_comment{
    font-size: 16px;

}


.pageDiv{
    width: 80%;
    justify-content: space-around;
   
    margin: 5px auto;
}
}
