
nav{
    background: linear-gradient(#045443, #044765); 
    padding: 20px 30px;
    text-align: end;
    display: flex;
    gap: 20px;
    justify-content:space-between;
}

.user_icon{
    background: transparent;
    font-size: 30px;
    margin: 0 30px;
    cursor: pointer;
}

.theme_icon{
    background: transparent;
    font-size: 30px;
    
    cursor: pointer;
}

.profile_img_nav{
    height: 50px;
    width: 45px;
    max-width: 50px;
    border-radius: 50%;
}

.logout_btn{
    margin-top: -12px;
    margin-right: 
    12px;

}

.userIcons{
    display: flex;
    gap: 20px;
}