nav {
    background: linear-gradient(#045443, #044765);
    padding: 2% 1%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    text-align: end;
    display: flex;
    gap: 20px;
    max-height: 40px;
    min-height: 30px;
    justify-content: space-between;
    /* width: 95%; */
}

.nav {
    background: transparent;
    padding: 2% 1%;
    top: 0;
    left: 0;
    text-align: end;
    display: flex;
    gap: 20px;
    max-height: 40px;
    min-height: 30px;
    justify-content: space-between;
    /* width: 96%; */
}

.user_icon {
    background: transparent;
    font-size: 30px;
    cursor: pointer;
}



.theme_icon {
    background: transparent;
    font-size: 30px;
    margin: auto;
    cursor: pointer;
}

.profile_img_nav {
    margin-top: -10px;
    height: 50px;
    width: 47px;
    cursor: pointer;
    max-width: 50px;
    border-radius: 50%;
}

.logout_btn_div {
    text-align: center;
}

.logout_btn {
    margin-top: -12px;
    margin-right:
        12px;

}

.userIcons {
    display: flex;
    width: 300px;
    justify-content: space-around;
    margin: 10px 0;
}

.friends_icon {
    font-size: 40px;
    margin-top: -4px;
}


@media screen and (max-width: 768px) {

    nav {
        padding: 5% 1%;
    }


    .nav {
        padding: 8% 1%;
    }



}