

.profile_pic_div{
    height: 200px;
    width: 200px;
    overflow: hidden;
    
    border-radius: 50%;
    border: 1px solid gold;
}

.profile_pic_div::-webkit-scrollbar{
    background-color: transparent;
}

.profile_pic_div::-webkit-scrollbar{
    background-color: transparent;
}

.profile_mainDiv{
    width: 45%;
    margin: 0px auto;
}

.userDetails{
    width: 45%;
}

.profile_container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    display: flex;
    margin: 50px auto;
    justify-content: space-around;
}

.profile_form{
    margin: 10px -20px;
    text-align: center;
    width: 30%;
    
}

.pic_inp{
    height: 25px;
    width: 210px;
    background-color: transparent;
    font-size: 15px;
    margin-left: 15%;
   
}

.profile_img{
    height: 200px;
    width: 200px;
}

.pic_btn{
    font-size: 15px;
    cursor: pointer;
    padding: 1px 5px;
   margin-left: 55%;
}

@media only screen and (min-width: 275px) and (max-width: 475px) {
.profile_container{
    flex-direction: column;
    padding: 10px;
}
.profile_form{
    width: 90%;
    
}
.userDetails{
    width: 95%;
    padding: 10px;
}
.create_post{
    width: 90%;
    height: 50px;
}


}



